body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #333;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.content {
    flex: 1;
    margin-top: 80px; /* Adjust based on header height */
    margin-bottom: 60px; /* Adjust based on footer height */
    padding: 20px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-back-button {
    position: absolute;
    left: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.go-back-button i {
    margin-right: 8px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.fa-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fa-button:hover {
    background-color: #0056b3;
}

.fa-button i {
    margin-right: 8px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    text-align: center;
    text-decoration: bold;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  

  #body{
    background-color: #f8f9fa;
  }
